{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  <ul id="comment-ul">
    {% for comment in comments %}
      <li id="comment-list" data-comment-pk={{ comment.pk }}>
        {{ comment.user }} - <span>{{ comment.content }}</span>
        {% if user == comment.user %}
          <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p id="noComment">댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form id="comment-form">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#comment-form')
    const input = document.querySelector('[name=content]')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    // 댓글 생성
    form.addEventListener('submit', function (event) {
      event.preventDefault()

      const commentCreateForm = new FormData()
      commentCreateForm.append('content', input.value)

      axios({
        method: 'POST',
        url: 'comments/',
        data: commentCreateForm,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {
          if (document.querySelector('#noComment') !== null){
            document.querySelector('#noComment').remove()
          }

          const commentUl = document.querySelector('#comment-ul')
          const commentLi = document.createElement('li')
          commentLi.setAttribute('id', 'comment-list')
          commentLi.setAttribute('data-comment-pk', response.data.commentPk)
          commentLi.innerHTML = 
          `{{ request.user.username }} - <span>${input.value}</span>
            <form action="/articles/${response.data.articlePk}/comments/${response.data.commentPk}/delete/" method="POST" class="d-inline">
              {% csrf_token %}
              <input type="submit" value="DELETE">
            </form>`

          const updateBtn = document.createElement('button')
          updateBtn.innerText = '수정'
          commentLi.append(updateBtn)

          // 버튼 클릭시 입력창
          updateBtn.addEventListener('click', updateFunc)
            
          commentUl.append(commentLi)
          
          input.value = null
        })
        .catch((error) => {
          console.log(error)
        })
    })


    // 댓글 수정 함수
    const updateFunc = function (event) {
      console.log(event.target)
      event.preventDefault()
      const commentLi = event.target.parentElement
      const commentContent = commentLi.querySelector('span')
      commentLi.innerHTML = 
      `<input type="text" value='${commentContent.innerText}'>
      <button>update</button>`

      const updatedInput = commentLi.querySelector('input')
      const updatedBtn = commentLi.querySelector('button')

      updatedBtn.addEventListener('click', (event) => {
        event.preventDefault()
        const commentUpdateForm = new FormData()
        commentUpdateForm.append('content', updatedInput.value)
  
        axios({
          method: 'POST',
          url: `comments/${commentLi.dataset.commentPk}/update/`,
          headers: {'X-CSRFToken': csrftoken},
          data: commentUpdateForm
        })
          .then((response) => {
            commentLi.innerHTML = 
            `{{ request.user.username }} - <span>${updatedInput.value}</span>
              <form action="/articles/${response.data.articlePk}/comments/${response.data.commentPk}/delete/" method="POST" class="d-inline">
                {% csrf_token %}
                <input type="submit" value="DELETE">
              </form>`
            const updateBtn = document.createElement('button')
            updateBtn.innerText = '수정'
            commentLi.append(updateBtn)

            // 버튼 클릭시 입력창
            updateBtn.addEventListener('click', updateFunc)
            
          })
          .catch((error) => {
            console.log(error)
          })

      })
    }


    // 댓글 수정
    const commentLst = document.querySelectorAll('#comment-list')
    commentLst.forEach((commentLi) => {
      // 수정버튼 추가
      const updateBtn = document.createElement('button')
      updateBtn.innerText = '수정'
      commentLi.append(updateBtn)

      // 버튼 클릭시 입력창
      updateBtn.addEventListener('click', updateFunc)
    });

  </script>
{% endblock script %}
