<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if catch == None or catch == '' %}
    <p>catch : 아무것도 받지 못함</p>
    {% else %}
    <p>catch : {{ catch }} 을/를 받음!</p>
    {% endif %}
    <form action="{% url 'throw_catch:first' %}" method="get">
        <label for="input">throw: </label>
        <input type="text" name="catch" id="input">
        <input type="submit" value="휙">
    </form>
</body>
</html>