{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <h2>{{ either.title }}</h2>
  <a href="{% url 'eithers:update' either.pk %}">UPDATE</a>
  <form action="{% url 'eithers:delete' either.pk %}" method="post">
    {% csrf_token %}
    <button>DELETE</button>
  </form>
  <h3>Red TEAM</h3>
  <h5>{{ either.issue_a }} => {{ red_count }}명 선택 ({{ red_percent }}%)</h5>
  <br>
  <h3>Blue TEAM</h3>
  <h5>{{ either.issue_b }} => {{ blue_count }}명 선택 ({{ blue_percent }}%)</h5>
  <hr>
  <a href="{% url 'eithers:index' %}">BACK</a>
  <hr>
  <h3>댓글 작성</h3>
  <form action="{% url 'eithers:comment' either.pk %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="작성">
  </form>
  {% if comments %}
    <hr>
    <h3>댓글 목록</h3>
    {% for comment in comments %}
      {% if comment.pick %}
        <p>Blue - {{ comment.content }}</p>
      {% else %}
        <p>Red - {{ comment.content }}</p>
      {% endif %}
      <form action="{% url 'eithers:comment_delete' either.pk comment.pk%}" method="post">
        {% csrf_token %}
        <button>del</button>
      </form>
    {% endfor %}
  {% else %}

  {% endif %}

{% endblock content %}
