{% extends 'base.html' %}
{% block content %}
  <h1>Throw</h1>
  <form action="/articles/catch/" method="GET">  
    <label for="message">Throw</label>
    <input type="text" name="message" id="message">

    <label for="message2">쓩</label>
    <input type="text" name="ma2" id="message2">
    <input type="submit" value="제출">
  </form>
{% endblock content %}
{% comment %}
제출한 것을 받을 페이지 == catch.html action에 /catch/ 넣어서 연결
name="message" => 핵심속성임, 서버에 접근하는 키 역할을 함
value는 value로 매핑


{% endcomment %}