{% extends 'base.html' %}

{% block content %}
  <h1>EDIT</h1>
  <form action="{% url 'articles:update' article.pk %}" method="POST">
    {% csrf_token %}
    <label for="title">title: </label>
    <input type="text" name='title' id='title' value="{{ article.title }}"> 
    {% comment %} value= : 기본적으로 들어가 있는 값 원래 내용이 무엇이었는지 확인하기 위함 {% endcomment %}
    <label for="content">Content: </label>
    <input type="text" name='content' id='content' value="{{ article.content }}">

    <input type="submit" value="수정">
  </form>
  <hr>
  <a href="{% url 'articles:detail' article.pk %}">뒤로가기</a>

{% endblock content %}