<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .checked {
      text-decoration:line-through;
      color: grey;
    }
  </style>
</head>
<body>
  <div id="app">
    <select v-model="selected">
      <option>전체</option>
      <option>진행중</option>
      <option>완료</option>
    </select>
    <input v-model='todoContent' type="text">
    <button @click="todoSubmit">+</button>
    <ul>
      <li v-for="todo in filteredTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCheck"> <span :class="{checked:todo.isCheck}">{{ todo.content }}</span>
      </li>
    </ul>
    <button @click="deleteChecked">완료된 할 일 지우기</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todoList: JSON.parse(localStorage.getItem('todoList')),
        todoContent: '',
        selected: '전체',
      },
      methods: {
        todoSubmit: function (event) {
          if (this.todoContent.trim() === '') {
            window.alert('내용을 입력해 주세요!')
          } else {
            const inputValue = event.target.value
            const tmp = {
              id: new Date().getTime(),
              isCheck: false,
              content: this.todoContent,
            }
            if (this.todoList == null) {
              this.todoList = []
            }
            this.todoList.push(tmp)
            this.todoContent = ''
          }
        },
        deleteChecked: function (event) {
          this.todoList = this.todoList.filter((elem) => {
            if (!elem.isCheck) {
              return elem
            }
          });
        }
      },
      computed: {
        filteredTodos: function () {
          if (this.selected === '전체') {
            return this.todoList
          } else if (this.selected === '진행중') {
            return this.todoList.filter((elem) => {
              if (!elem.isCheck) {return elem}})
          } else {
            return this.todoList.filter((elem) => {
              if (elem.isCheck) {return elem}})
          }
        }
      },
      watch: {
        todoList: {
          deep: true,
          handler: function () {
            localStorage.setItem('todoList', JSON.stringify(this.todoList))
          }
        }
      }
    })
  </script>
</body>
</html>